#u218-4
{
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	font-size: 60px;
	position: relative;
}

#u209
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

