<html>

<center><font allign="centre" size="10" face="verdana" color="green">DEQUEUE</font></center></br> 
<hr  width="50%" size="12" color="black"></br></br>
</br></br>


<table width="600" height="100" border="0" align="center" cellpadding="10" cellspacing="0" bgcolor="#CCCCCC">
	<tr>	
	{% if selected_film %}
		{% for film in selected_film %}
			<tr>
				<td><img src="/film_images/{{film.film_image}}" width="200" height="200" /></a></td>
			</tr>
		
			<tr>		
				<td><font><strong><center>Film</center></strong></font></td>
				<td><font><strong>Ticket Charge</strong></font></td>
				<td><font><strong>Show Timing</strong></font></td>
				<td><font><strong>Hall</strong></font></td>
			</tr>			
			<tr>		
				<td><font><center>{{ film.film_name }}</center><font></td>
				<td><font>{{ film.ticket_charge }}<font></td>
				<td><font>{{ film.show_timing }}<font></td>
				<td><font>{{ film.hall_id }}<font></td>
			</tr>

			<form action="/buyticket?filmid={{film.film_id}}" method="post">{% csrf_token %}
			<tr>
				<td><center>Number Of Tickets</center></td>
				<td><input name="number_of_tickets" type="text" id="number_of_tickets"></td>
			</tr>
			<tr>
				<td><input type="submit" name="buyticket" value="BUY TICKETS"></a></td>
			</tr>	
			</form>
				

		{% endfor %}
	{% endif %}
	</tr>

		   
</table>
</html>
