
{% extends "base.html" %}

{% block content %}
<body>
	<div align="center">	
	<center><font allign="centre" size="5" face="verdana" color="RED"><strong>NOW SHOWING</strong><font></center></br>
	{% if film_list %}
		{% for film in film_list %}
		<a href="/selectedfilm?filmid={{film.film_id}}"><img src="/film_images/{{film.film_image}}" width="100" height="100" /></a>
		<font allign="centre" size="5" face="verdana" color="BLACK">{{ film.film_name }}<font></center></br>
					
		{% endfor %}
	{% else %}
		<center><font allign="centre" size="5" face="verdana" color="RED">CURRENTLY NO SHOWS<font></center></br>
	{% endif %}
	</div>	
</body>
{% endblock %}
